{
  "tabWidth": 4,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 100,
  "jsxSingleQuote": false,
  "overrides": [
    {
      "files": ["*.{js,jsx,ts,tsx,json,html,css,python,lua,bash}"],
      "options": {
        "tabWidth": 2,
        "singleQuote": true
      }
    },
    {
      "files": ["*.{java,c,cpp,cs,php,typescript}"],
      "options": {
        "tabWidth": 4,
        "singleQuote": false
      }
    }
  ]
}
